<ion-header>
  <ion-toolbar color="secondary">
        <ion-buttons slot="start">
        <ion-back-button icon="arrow-back"></ion-back-button></ion-buttons>
    <ion-title>Add Shopping items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input type="text" [(ngModel)]="todotitle"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="stacked">Task Description</ion-label>
    <ion-input type="text" [(ngModel)]="tododescription"></ion-input>
    </ion-item> 
    <ion-item>
        <ion-label position="stacked">Date</ion-label>
        <ion-datetime min="2019" dispaly-format="MM/DD/YYYY" [(ngModel)]="tododate"></ion-datetime>
        </ion-item>
  </ion-list>
  <ion-label position="stacked">Add a tag</ion-label>
  <ion-input type="text" [(ngModel)]="tagsts"></ion-input>
<ion-button expand="block" shape="round" color="secondary" (click)="addtodo()">Add this task</ion-button>
</ion-content>
