<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button fill="clear" slot="icon-only" (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <img src="https://www.pictorem.com/collection/900_Jaeda-DeWalt_smr-flower-5.jpg" style="width:100%; height:100%;" alt="Logo">
  </ion-content>