<ion-header>
  <ion-toolbar>
     <ion-title>Add new Todo</ion-title><ion-buttons slot="end">
         <ion-button fill="clear" slot="icon-only" (click)="goback()">
           <ion-icon name="arrow-back"></ion-icon>
         </ion-button>
       </ion-buttons>
     </ion-toolbar>
     </ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter" [(ngModel)]="TitleName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Description" [(ngModel)]="TaskDescription"></ion-input>
        </ion-item>
      </ion-col>
     
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="CreateRecord()" [disabled]="!TitleName || !TaskDescription">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;Create Record
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
