<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button icon="arrow-back"></ion-back-button></ion-buttons>
    <ion-title>Shopping list</ion-title>
    
    <ion-buttons slot="end">
      <ion-button fill="clear" slot="icon-only" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item>
        <ion-label>
          <h2>{{todo.data().title}}</h2>
          <h3>{{todo.data().description}}</h3>
          <p *ngIf="todo.data().date" [innerHTML]= "getDate(todo.data().date)"></p>
        </ion-label>
      </ion-item>
      <ion-item-options slide="end">
        <ion-item-option color="danger" (click)="markDone(todo)">
         <ion-icon name="checkmark"></ion-icon>
        </ion-item-option>
       </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <!--  floating action button -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="addnewTodo()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 

</ion-content>
